on charger
    class_start charger

# LPM
on property:ro.bootmode=charger
    mount ext4 /dev/block/platform/soc.2/by-name/SYSTEM /system wait ro

on property:ro.bootmode=charger
    class_start sec_charger

service playlpm /system/bin/lpm
    class sec_charger
    critical
